/********** INICIO ESTILOS CARD HEDAER **********/

/* Background animation for card header */
.background-card-header {
  color: var(--text-primary);
  background: #2196f3;
  /* background: linear-gradient(-45deg, #23d5ab, #2196f3, #23d5ab); */
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  border-radius: 1.2rem 1.2rem 0 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* IMAGE HEADER */
.container-img {
  display: flex;
  justify-content: center;
}

.header-img {
  /* Que sea la mitad de 6 columnas que hay disponible para la foto */
  width: 50%;
  border-radius: 0.75rem;
  /* Agrega la sombra al rededor de la foto */
  box-shadow: 5px 5px 1.5px 0 rgb(0 0 0 / 10%);
}

/* TEXT HEADER */
.header-tittle {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.newTooltip {
  color: var(--text-primary);
  position: relative;
  display: inline-block;
  font-size: 4.5rem;
  width: fit-content;
  /* transition: color 1s; */
  transition: font-size 1s;
}

.newTooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: var(--text-primary);
  font-size: 1rem;
  color: var(--blue);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-family: "Montserrat", sans-serif !important;

  visibility: hidden;
  opacity: 0;
  /* transition: visibility 0s linear 300ms, opacity 3s; */

  transition: 0.5s ease-in-out, opacity 1s;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 100px;
}

.newTooltip:hover .tooltiptext {
  visibility: visible;
  /* color: white; */
  opacity: 1;
  transform: translate(-100px, 0px);
}

/*
1. Elimina el color por defecto que le pone al hacer hoover (azul)
*/
a.newTooltip:hover {
  color: inherit;
  /* text-decoration: none; */
}

/********** FIN ESTILOS CARD HEDAER **********/
