body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Variables for lateral navbar */
:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #ececec;
  --text-secondary: #b6b6b6;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --navbar_width: 5rem;
}
