body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Variables for lateral navbar */
:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #ececec;
  --text-secondary: #b6b6b6;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --navbar_width: 5rem;
}

/********** INICIO ESTILOS CARD HEDAER **********/

/* Background animation for card header */
.background-card-header {
  color: var(--text-primary);
  background: linear-gradient(-45deg, #23d5ab, #2196f3, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  border-radius: 1.2rem 1.2rem 0 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* IMAGE HEADER */
.container-img {
  display: flex;
  justify-content: center;
}

.header-img {
  /* Que sea la mitad de 6 columnas que hay disponible para la foto */
  width: 50%;
  border-radius: 0.75rem;
  /* Agrega la sombra al rededor de la foto */
  box-shadow: 5px 5px 1.5px 0 rgb(0 0 0 / 10%);
}

/* TEXT HEADER */
.header-tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Container para los links */
.social-media-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.social-media-container a {
  color: inherit;
}

/* Button for social media */
.social-media-link {
  font-size: 3rem;
  width: fit-content;
  transition: color 1s;
}

.social-media-link:hover {
  color: #011936;
}

/********** FIN ESTILOS CARD HEDAER **********/
