body {
  margin: 0;
  font-family: "Asap", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Variables for lateral navbar */
:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --navbar_width: 5rem;
}

/* Customize scrollbar */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* main {
  margin-left: 5rem;
  padding: 1rem;
} */

.lateral-navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  width: var(--text-secondary);
  height: 100vh;
}

.lateral-navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.lateral-nav-item {
  width: 100%;
}

.lateral-nav-item:last-child {
  margin-top: auto;
}

.lateral-nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.lateral-nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
  text-decoration: none;
}

.link-text {
  font-size: 1.2rem;
  text-transform: uppercase;
  display: none;
  margin-left: 0rem;
  text-decoration: none;
}

.lateral-nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.lateral-navbar:hover {
  width: 13rem;
}

.lateral-navbar:hover .link-text {
  display: block;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

#home {
  /* border-top: 66px solid transparent; */
  display: grid;
  place-items: center;
  /* background-clip: padding-box; */
  height: 100vh;
  margin-left: var(--navbar_width);
  /* width: calc(100vw - 5rem); */
}

#about {
  /* border-top: 66px solid transparent; */
  height: 100vh;
  margin-left: var(--navbar_width);
  /* Grid */
  display: grid;
  place-items: center;
  grid-template-areas:
    "title title"
    "photo skills"
    "experience experience";
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 15% 75% 10%;
}

.about-title {
  grid-area: title;
}

.about-photo {
  height: 100%;
  grid-area: photo;
  /* Volvemos esta area tambien un grid para centrarlo facilmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo-img {
  max-width: 90%;
  border: 1px solid lightgrey;
}

.photo-text {
  max-width: 90%;
  border: 1px solid lightgrey;
}

@media screen and (min-width: 750px) {
  .photo-img {
    max-width: 80%;
  }

  .photo-text {
    max-width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .photo-img {
    max-width: 70%;
  }

  .photo-text {
    max-width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .photo-img {
    max-width: 60%;
  }

  .photo-text {
    max-width: 60%;
  }
}

@media screen and (min-width: 1400px) {
  .photo-img {
    max-width: 45%;
  }

  .photo-text {
    max-width: 45%;
  }
}

.about-skills {
  width: 100%;
  grid-area: skills;
  padding: 0 15px;
}

.skill-container {
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.skill-container p {
  margin: 0;
  width: 130px;
  margin-right: 1rem;
}

.about-experience {
  grid-area: experience;
}
