body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#home {
  border-top: 66px solid transparent;
  display: grid;
  place-items: center;
  /* margin: -66px 0 0; */
  /* -webkit-background-clip: padding-box;
  -moz-background-clip: padding; */
  background-clip: padding-box;

  /* height: calc(100vh - 66px); */
  height: 100vh;
}

#about {
  border-top: 66px solid transparent;
  height: 100vh;
  /* Grid */
  display: grid;
  place-items: center;
  grid-template-areas:
    "title title"
    "photo skills"
    "experience experience";
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 15% 75% 10%;
}

.about-title {
  grid-area: title;
}

.about-photo {
  grid-area: photo;
}

.about-skills {
  grid-area: skills;
}

.about-experience {
  grid-area: experience;
}
